El bueno2.json
{
  "name": "El bueno",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "f87c1838-6b21-4527-9d48-2521d1607ed7",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        -128
      ],
      "webhookId": "70f7f3d5-9ce9-447a-b8d8-8f902fcc04a8",
      "credentials": {
        "telegramApi": {
          "id": "OPQOt2byzph4aTkf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $json;\nlet chatId, text = '';\n\n// NORMALIZACI\u00d3N ESTRICTA\nif (update.message) {\n  chatId = update.message.chat.id;\n  text = update.message.text || '';\n} else if (update.callback_query) {\n  chatId = update.callback_query.message.chat.id;\n  // AQU\u00cd EST\u00c1 LA CLAVE: Leemos el 'data' del bot\u00f3n\n  text = update.callback_query.data || '';\n}\n\nreturn [{ json: { chatId, text, raw: update } }];"
      },
      "id": "3158e8b6-acf5-4842-a040-af7b5b35e53b",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// C\u00d3DIGO ORIGINAL (RESTAURAR DESPU\u00c9S DE PROBAR)\nconst data = $getWorkflowStaticData('global');\nconst catalog = data.catalog;\nlet memoryEmpty = true;\n\nif (catalog && Object.keys(catalog).length > 0) {\n  let hasOptions = false;\n\n  for (const model of Object.values(catalog)) {\n    if (!model || !Array.isArray(model.steps)) continue;\n    for (const step of model.steps) {\n      if (!step || !Array.isArray(step.options)) continue;\n      if (step.options.length > 0) {\n        hasOptions = true;\n        break;\n      }\n    }\n    if (hasOptions) break;\n  }\n\n  memoryEmpty = !hasOptions;\n}\n\nconst items = $input.all();\nreturn items.map(item => ({ json: { ...item.json, memoryEmpty } }));"
      },
      "id": "9792867a-edb5-4a57-8a97-66385131e991",
      "name": "Verificar Memoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.memoryEmpty }}",
              "value2": true
            }
          ]
        }
      },
      "id": "09bbe7c4-82ba-4301-93db-9cb2688b8d29",
      "name": "\u00bfCargar BD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -736,
        -128
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "171OxljLpc-5-RYaaVlFJR93IcbwbijLuhPjJ2Y79H6I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DB_Maquinas",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d5771507-24bc-4768-b83e-40d8eb02f9bc",
      "name": "Leer DB_Maquinas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -512,
        -208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DxYUvYlQ1tfP3LLg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "171OxljLpc-5-RYaaVlFJR93IcbwbijLuhPjJ2Y79H6I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DB_Opciones",
          "mode": "name"
        },
        "options": {}
      },
      "id": "9a686b11-b018-4dab-b848-5d7e6ff1394f",
      "name": "Leer DB_Opciones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -288,
        -208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DxYUvYlQ1tfP3LLg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- CARGA DATA-DRIVEN DESDE GOOGLE SHEETS (DB_Maquinas + DB_Opciones)\n// Fuentes: nodos \"Leer DB_Maquinas\" y \"Leer DB_Opciones\"\nconst toNum = (v) => {\n  if (v === null || v === undefined) return 0;\n  const s = String(v).replace(/[^0-9.\\-]/g, '');\n  const n = parseFloat(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst toInt = (v, d=0) => {\n  const n = parseInt(String(v), 10);\n  return Number.isFinite(n) ? n : d;\n};\n\n// getter flexible (tolerante a sin\u00f3nimos/ may\u00fasculas / espacios)\nconst normKey = (k) => String(k || '').toLowerCase().trim().replace(/\\s+/g,'').replace(/[_\\-]/g,'');\nconst getVal = (obj, terms) => {\n  if (!obj) return undefined;\n  const keys = Object.keys(obj);\n  const map = new Map(keys.map(k => [normKey(k), k]));\n  for (const t of terms) {\n    const nk = normKey(t);\n    if (map.has(nk)) return obj[map.get(nk)];\n  }\n  for (const t of terms) {\n    const nk = normKey(t);\n    const partial = keys.find(k => normKey(k).includes(nk));\n    if (partial) return obj[partial];\n  }\n  return undefined;\n};\n\nconst norm = (v) => String(v ?? '').trim().replace(/\\s+/g, ' ');\nconst normLower = (v) => norm(v).toLowerCase();\nconst optionSeen = new WeakMap();\n\n// Nota: en n8n, el nombre exacto de los nodos importa:\nconst maquinasRows = $items(\"Leer DB_Maquinas\").map(i => i.json);\nconst opcionesRows = $items(\"Leer DB_Opciones\").map(i => i.json);\n\nconst catalog = {};\n\n// 1) M\u00e1quinas\nfor (const row of maquinasRows) {\n  const modelo = getVal(row, [\"modelo\",\"model\",\"id\",\"maquina_id\"]);\n  if (!modelo) continue;\n\n  const nombre = getVal(row, [\"nombre\",\"name\",\"descripcion\",\"description\"]) ?? modelo;\n  const basePrice = toNum(getVal(row, [\"precio_base\",\"base_price\",\"price\",\"precio\",\"costo\"]));\n  const plantilla = getVal(row, [\"plantilla\",\"template\",\"docx\",\"archivo\"]);\n\n  catalog[String(modelo)] = {\n    id: String(modelo),\n    name: String(nombre),\n    basePrice,\n    plantilla: plantilla ? String(plantilla) : undefined,\n    steps: []\n  };\n}\n\n// 2) Opciones / Pasos\nfor (const row of opcionesRows) {\n  const modelo = getVal(row, [\"modelo\",\"model\",\"maquina\",\"maquina_id\"]);\n  if (!modelo) continue;\n  const m = catalog[String(modelo)];\n  if (!m) continue;\n\n  const pasoId = getVal(row, [\"paso_id\",\"step_id\",\"paso\",\"step\"]);\n  const pregunta = getVal(row, [\"pregunta\",\"paso_pregunta\",\"question\",\"texto\"]);\n  const orden = toInt(getVal(row, [\"paso_orden\",\"order\",\"orden\"]), 0);\n\n  if (!pasoId) continue;\n\n  let step = m.steps.find(s => s.id === String(pasoId));\n  if (!step) {\n    const questionStr = norm(pregunta);\n    step = { id: String(pasoId), question: questionStr || 'Selecciona una opci\u00f3n', order: orden, options: [] };\n    m.steps.push(step);\n  }\n\n  const rawLabel = getVal(row, [\"opcion_label\",\"label\",\"etiqueta\",\"nombre_opcion\",\"opcion\"]) || getVal(row, [\"opcion label\",\"opcion_label\",\"opcionlabel\"]);\n  const rawValue = getVal(row, [\"opcion_valor\",\"value\",\"valor\",\"code\",\"key\"]) || rawLabel;\n  const price = toNum(getVal(row, [\"opcion_precio\",\"price\",\"precio\",\"costo\",\"extra\"]));\n\n  const labelStr = norm(rawLabel || rawValue);\n  let valueStr = norm(rawValue || rawLabel || labelStr);\n  if (labelStr === '') continue;\n\n  if (valueStr === '') valueStr = labelStr;\n\n  const key = `${normLower(labelStr)}|${normLower(valueStr)}`;\n  let seenForStep = optionSeen.get(step);\n  if (!seenForStep) {\n    seenForStep = new Set();\n    optionSeen.set(step, seenForStep);\n  }\n  if (seenForStep.has(key)) continue;\n  seenForStep.add(key);\n\n  step.options.push({\n    label: labelStr,\n    value: valueStr,\n    price\n  });\n}\n\n// 3) Ordenar pasos y (opcional) opciones\nfor (const mid of Object.keys(catalog)) {\n  catalog[mid].steps.sort((a,b) => (a.order ?? 0) - (b.order ?? 0));\n}\n\nconst input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.catalog = catalog;\n\nreturn [{ json: { ...input, catalogLoaded: true, models: Object.keys(catalog).length } }];\n"
      },
      "id": "22590555-ae92-4c24-95f8-306d85a04500",
      "name": "Guardar en Memoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "\ud83d\udc4b *Bienvenido al Cotizador VC999*\n\nSelecciona el modo:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83e\udde0 Cotizaci\u00f3n Avanzada",
                    "additionalFields": {
                      "callback_data": "MENU|AVANZADA"
                    }
                  },
                  {
                    "text": "\u26a1\ufe0f Cotizaci\u00f3n R\u00e1pida",
                    "additionalFields": {
                      "callback_data": "MODE|FAST"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "19bb0dec-da15-4974-b436-4a7da91fc155",
      "name": "Enviar Men\u00fa",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -32
      ],
      "webhookId": "28481a81-2d6a-4ccf-9a2c-837d53239147",
      "credentials": {
        "telegramApi": {
          "id": "OPQOt2byzph4aTkf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- ROUTER MAESTRO (Callback vs Texto) ---\n// Entrada: Normalize Telegram => { chatId, text, raw }\nconst { chatId, text, raw } = $json;\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.cot = staticData.cot || {};\nconst hasSession = !!staticData.cot?.[chatId];\n\n// Defaults\nlet action = null;\n\nconst setMode = (mode) => {\n  if (!mode) return;\n  const current = staticData.cot[chatId] || {};\n  staticData.cot[chatId] = { ...current, mode: mode.toUpperCase() };\n};\n\n// 1) /start o comandos\nif (raw?.message?.text && raw.message.text.startsWith('/')) {\n  action = 'START';\n  staticData.cot[chatId] = {}; // limpiamos sesi\u00f3n previa\n}\n// 2) Botones (callback_data)\nelse if (raw?.callback_query?.data) {\n  const data = raw.callback_query.data;\n\n  if (data === 'MENU|AVANZADA' || data === 'MODE|ADV') {\n    setMode('ADV');\n    action = 'MENU_SELECTION';\n  } else if (data === 'MODE|FAST') {\n    setMode('FAST');\n    action = 'MENU_SELECTION';\n  } else {\n    // Formatos esperados:\n    //   MODEL|START\n    //   MODEL|OPT|STEP|VALUE|PRICE\n    action = 'COTIZACION_FLOW';\n  }\n}\n// 3) Texto libre (nombre/correo) cuando ya existe sesi\u00f3n\nelse if (raw?.message?.text && !raw.message.text.startsWith('/') && hasSession) {\n  action = 'COTIZACION_FLOW';\n}\n\nreturn [{ json: { chatId, text, action } }];\n"
      },
      "id": "bca170ce-f52e-401b-bb41-0ede88b68e7a",
      "name": "Router Maestro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-1-condition-1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "START",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-2-condition-1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "MENU_SELECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-3-condition-1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "COTIZACION_FLOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6300f5ca-3555-4c71-b19a-bab2032c9b18",
      "name": "Switch Maestro",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        384,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!($json.quotePayload && $json.quotePayload.machine && $json.quotePayload.customer && $json.quotePayload.customer.email && ($json.userState?.stage ? $json.userState.stage === \"done\" : true)) }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7f5cc95a-2167-4567-873f-1da3882b8eb7",
      "name": "\u00bfTermin\u00f3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        848,
        368
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "af8c0765-2051-4b73-bfcb-5d0868fd9490",
      "name": "Pedir Cliente",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        272
      ],
      "webhookId": "709414e3-6af1-49bd-8ad7-3732275d487d",
      "credentials": {
        "telegramApi": {
          "id": "OPQOt2byzph4aTkf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: $json.text, parse_mode: \"Markdown\", reply_markup: $json.reply_markup || {} }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        464
      ],
      "id": "6e90eda7-7bfe-4a60-b159-c09dbf538049",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// --- GENERADOR DE MEN\u00da DIN\u00c1MICO ---\nconst staticData = $getWorkflowStaticData('global');\nconst catalog = staticData.catalog || {};\nconst models = Object.keys(catalog); // Obtiene lista: [\"CM1100\", \"MDM4121\", etc.]\n\n// Si el cat\u00e1logo est\u00e1 vac\u00edo, advertimos\nif (models.length === 0) {\n  return [{ json: { \n    chatId: $json.chatId, \n    text: \"\u26a0\ufe0f La memoria est\u00e1 vac\u00eda. Por favor ejecuta /start para recargar.\", \n    reply_markup: {} \n  }}];\n}\n\n// Construimos los botones (2 por fila)\nconst keyboard = [];\nlet row = [];\n\nmodels.forEach((model, index) => {\n  row.push({\n    text: model, \n    callback_data: `${model}|START` // CLAVE: Esto inicia el flujo de esa m\u00e1quina\n  });\n\n  if (row.length === 2 || index === models.length - 1) {\n    keyboard.push(row);\n    row = [];\n  }\n});\n\n// Salida lista para tu nodo HTTP Request o Telegram\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    text: \"\ud83c\udfed *Cat\u00e1logo VC999 Disponible*\\n\\nSelecciona la m\u00e1quina que deseas cotizar:\",\n    reply_markup: {\n      inline_keyboard: keyboard\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        192
      ],
      "id": "8833943f-501a-438f-a3e2-fa81a8ae6716",
      "name": "Generar men\u00fa din\u00e1mico"
    },
    {
      "parameters": {
        "jsCode": "const DEBUG = false;\nconst staticData = $getWorkflowStaticData('global');\nconst catalog = staticData.catalog || {};\nstaticData.cot = staticData.cot || {};\n\nconst { chatId, text } = $json;\n\n// Helpers\nconst money = (n) => {\n  const x = Number(n || 0);\n  return x.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 });\n};\nconst toNum = (v) => {\n  const s = String(v ?? '').replace(/[^0-9.\\-]/g, '');\n  const n = parseFloat(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst normText = (v) => String(v ?? '').trim().replace(/\\s+/g, ' ');\nconst optionKey = (label, value) => `${normText(label).toLowerCase()}|${normText(value ?? label).toLowerCase()}`;\nconst isGenericQuestion = (q) => {\n  const normalized = normText(q).toLowerCase();\n  if (!normalized) return true;\n\n  const generics = [\n    'selecciona una opci\u00f3n',\n    'select an option',\n    'choose an option'\n  ];\n\n  return normalized.length < 4 || generics.some((phrase) => normalized.includes(phrase));\n};\nconst humanizeStepId = (stepId) => {\n  const safe = String(stepId ?? '').trim();\n  const withSpaces = safe\n    .replace(/[_-]+/g, ' ')\n    .replace(/([a-z])([A-Z])/g, '$1 $2')\n    .trim();\n\n  if (!withSpaces) return 'Paso';\n\n  return withSpaces\n    .split(' ')\n    .filter(Boolean)\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n    .join(' ');\n};\nconst resolveMode = (state) => (state?.mode || 'ADV').toUpperCase();\nconst formatSelections = (selections) => {\n  if (!Array.isArray(selections) || selections.length === 0) return ['- Sin opciones'];\n\n  return selections.map((sel) => {\n    const stepLabel = humanizeStepId(sel.step ?? 'Paso');\n    const priceText = toNum(sel.price) > 0 ? ` (+$${money(sel.price)} USD)` : ' (+$0 USD)';\n    const valueText = sel.value ?? 'N/A';\n    return `- ${stepLabel}: ${valueText}${priceText}`;\n  });\n};\n\n// Estado de usuario\nlet userState = staticData.cot[chatId];\n\n// Detectar tipo de input\nconst isCallback = typeof text === 'string' && text.includes('|');\nconst isStartMachine = isCallback && text.endsWith('|START');\nconst isOpt = isCallback && text.includes('|OPT|');\n\nlet fastIntroResponse = null;\n\n// A) Selecci\u00f3n de m\u00e1quina (inicio)\nif (isStartMachine) {\n  const model = text.split('|')[0];\n  const machine = catalog[model];\n  if (!machine) {\n    return [{ json: { chatId, text: \"\u26a0\ufe0f Error: M\u00e1quina no encontrada. Ejecuta /start.\", reply_markup: {} } }];\n  }\n\n  const mode = resolveMode(userState);\n\n  userState = {\n    mode,\n    stage: mode === 'FAST' ? 'await_customer_name' : 'config',          // config | await_customer_name | await_customer_email | done\n    machine: model,\n    stepIndex: 0,\n    selections: [],\n    totalPrice: toNum(machine.basePrice),\n    customer: {},\n  };\n\n  if (mode === 'FAST') {\n    const steps = Array.isArray(machine.steps) ? machine.steps : [];\n    const selections = [];\n    let totalPrice = toNum(machine.basePrice);\n    const warnings = [];\n\n    steps.forEach((step, idx) => {\n      const options = Array.isArray(step?.options) ? step.options : [];\n      if (options.length === 0) {\n        warnings.push(`Paso ${step?.id ?? idx + 1} sin opciones, se omiti\u00f3.`);\n        return;\n      }\n\n      const defaultOpt = options.find((opt) => (String(opt.label ?? '')).includes('(Default)')) || options[0];\n      const chosenPrice = toNum(defaultOpt.price);\n\n      selections.push({\n        step: step?.id ?? `step_${idx + 1}`,\n        value: defaultOpt.value ?? defaultOpt.label ?? 'NA',\n        price: chosenPrice,\n      });\n\n      totalPrice += chosenPrice;\n    });\n\n    userState.selections = selections;\n    userState.totalPrice = totalPrice;\n    userState.stepIndex = steps.length;\n\n    const warningText = warnings.length ? `\\n\u26a0\ufe0f ${warnings.join(' ')}` : '';\n    fastIntroResponse = {\n      text: `\u26a1\ufe0f *Modo R\u00e1pido activado*\\nSe seleccionaron las opciones por defecto. Escribe el *nombre del cliente*.${warningText}`,\n    };\n  }\n}\n\n// B) Opci\u00f3n elegida\nif (isOpt) {\n  const parts = text.split('|');\n  const model = parts[0];\n  const stepId = parts[2];\n  const val = parts[3];\n  const price = toNum(parts[4]);\n\n  if (!userState || userState.machine !== model) {\n    return [{ json: { chatId, text: \"\u26a0\ufe0f Sesi\u00f3n expirada o modelo no coincide. Ejecuta /start.\", reply_markup: {} } }];\n  }\n\n  if (userState.mode === 'FAST') {\n    return [{ json: { chatId, text: \"\u26a1\ufe0f Est\u00e1s en Modo R\u00e1pido. Las opciones ya fueron auto-seleccionadas. Env\u00eda el nombre del cliente.\", reply_markup: {} } }];\n  }\n\n  userState.selections.push({ step: stepId, value: val, price });\n  userState.totalPrice += price;\n  userState.stepIndex += 1;\n}\n\n// C) Texto libre (Nombre / Correo) \u2014 solo si ya terminamos pasos\nif (!isCallback && userState) {\n  const msg = normText(text || '');\n\n  if (userState.stage === \"await_customer_name\") {\n    userState.customer.name = msg;\n    userState.stage = \"await_customer_email\";\n\n    staticData.cot[chatId] = userState;\n\n    return [{ json: { chatId, text: \"\ud83d\udcdd Ahora escribe el *correo del cliente*:\", reply_markup: {}, isFinished: true, userState } }];\n  } else if (userState.stage === \"await_customer_email\") {\n    userState.customer.email = msg;\n    userState.stage = \"done\";\n\n    const payload = {\n      machine: userState.machine,\n      basePrice: toNum(catalog[userState.machine]?.basePrice),\n      totalPrice: toNum(userState.totalPrice),\n      selections: userState.selections,\n      customer: userState.customer\n    };\n\n    userState.payloadFinal = payload;\n    staticData.cot[chatId] = userState;\n\n    const optionLines = formatSelections(userState.selections).join('\\n');\n    const summaryText =\n`\ud83d\udee0\ufe0f *Cotizaci\u00f3n ${userState.machine}*\n*M\u00e1quina:* ${userState.machine}\n*Base:* $${money(payload.basePrice)} USD\n*Opciones:*\n${optionLines}\n*Total:* $${money(payload.totalPrice)} USD\n*Cliente:* ${userState.customer.name || 'N/A'}\n*Correo:* ${userState.customer.email || 'N/A'}\n\u2705 Confirmo datos. Procediendo a generar y enviar PDF.`;\n\n    return [{ json: { chatId, text: summaryText, reply_markup: {}, isFinished: true, userState, quotePayload: payload } }];\n  }\n}\n\n// Validaci\u00f3n de m\u00e1quina\nif (!userState) {\n  return [{ json: { chatId, text: \"Usa /start y selecciona una m\u00e1quina para iniciar.\", reply_markup: {} } }];\n}\n\nconst machineConfig = catalog[userState.machine];\nif (!machineConfig) {\n  return [{ json: { chatId, text: \"\u26a0\ufe0f Cat\u00e1logo no disponible. Ejecuta /start para recargar.\", reply_markup: {} } }];\n}\n\n// D) Render de siguiente paso / cierre\nlet response = fastIntroResponse || {};\nlet isFinished = !!fastIntroResponse;\n\nif (!isFinished && userState.stage === \"config\") {\n  const currentIndex = userState.stepIndex;\n\n  if (currentIndex < machineConfig.steps.length) {\n    const step = machineConfig.steps[currentIndex];\n    const stepOptions = Array.isArray(step.options) ? step.options : [];\n\n    if (stepOptions.length === 0) {\n      const debugInfo = DEBUG ? ` [model=${userState.machine}, step=${step.id ?? currentIndex + 1}, steps=${machineConfig.steps.length}, options=${stepOptions.length}]` : '';\n\n      response = {\n        text: `\u26a0\ufe0f No hay opciones disponibles para el paso \"${step.id ?? currentIndex + 1}\". Usa /start para recargar el cat\u00e1logo o contacta soporte.${debugInfo}`,\n        reply_markup: {},\n      };\n    } else {\n      const inline_keyboard = [];\n      const seenOptions = new Set();\n\n      const normalizeStepId = (stepId) => String(stepId ?? '')\n        .toUpperCase()\n        .trim()\n        .replace(/[\\s_]+/g, '');\n\n      const STEP_FRIENDLY = {\n        \"LID\": \"Lid Height\",\n        \"LIDSIZE\": \"Lid Height\",\n        \"LIDHEIGHT\": \"Lid Height\",\n        \"PUMP\": \"Pump Option\",\n        \"PUMPOPTIONS\": \"Pump Option\",\n        \"GAS\": \"Gas Flush\",\n        \"GASFLUSH\": \"Gas Flush\",\n        \"BIACTIVE\": \"Bi-Active Sealing\",\n        \"BI ACTIVE\": \"Bi-Active Sealing\",\n        \"PAS\": \"Positive Air Sealer\",\n        \"POSITIVEAIRSEALER\": \"Positive Air Sealer\"\n      };\n\n      const prettyLabel = (stepId, label, value) => {\n        const rawLabel = String(label ?? value ?? '').trim();\n        const normalizedId = normalizeStepId(stepId);\n\n        if (rawLabel.length >= 18) return rawLabel;\n\n        const friendly = STEP_FRIENDLY[normalizedId];\n        if (!friendly) return rawLabel;\n\n        const normalizeYesNoDisplay = (str) => {\n          const normalized = String(str ?? '').trim().toLowerCase();\n          if ([\"si\", \"s\u00ed\"].includes(normalized)) return \"S\u00ed\";\n          if ([\"yes\", \"true\", \"y\", \"1\"].includes(normalized)) return \"Yes\";\n          if ([\"no\", \"false\", \"0\", \"n\"].includes(normalized)) return \"No\";\n          return str;\n        };\n\n        if ([\"LID\", \"LIDSIZE\", \"LIDHEIGHT\"].includes(normalizedId)) {\n          const hasInch = /inch/i.test(rawLabel);\n          const seemsNumber = /^\\s*\\d+(\\.\\d+)?\\s*$/.test(rawLabel);\n          const enriched = !hasInch && seemsNumber ? `${rawLabel} inch` : rawLabel;\n          return `${friendly}: ${enriched}`;\n        }\n\n        if ([\"GAS\", \"GASFLUSH\", \"BIACTIVE\", \"BI ACTIVE\", \"PAS\", \"POSITIVEAIRSEALER\"].includes(normalizedId)) {\n          const display = normalizeYesNoDisplay(rawLabel);\n          return `${friendly}: ${display}`;\n        }\n\n        if ([\"PUMP\", \"PUMPOPTIONS\"].includes(normalizedId)) {\n          return `${friendly}: ${rawLabel}`;\n        }\n\n        return `${friendly}: ${rawLabel}`;\n      };\n\n      const questionText = normText(step.question);\n      const stepTitle = isGenericQuestion(questionText)\n        ? humanizeStepId(step.id ?? `Paso ${currentIndex + 1}`)\n        : questionText;\n\n      stepOptions.forEach(opt => {\n        const price = toNum(opt.price);\n        const priceText = price > 0 ? ` (+$${money(price)})` : '';\n        const value = opt.value ?? opt.label ?? 'NA';\n        const key = optionKey(opt.label ?? value, value);\n        if (seenOptions.has(key)) return;\n        seenOptions.add(key);\n\n        const baseLabel = opt.label ?? value;\n        const display = prettyLabel(step.id, baseLabel, value);\n\n        inline_keyboard.push([\n          {\n            text: `${display}${priceText}`,\n            callback_data: `${userState.machine}|OPT|${step.id}|${value}|${price}`\n          }\n        ]);\n      });\n\n      response = {\n        text:\n`\ud83d\udee0\ufe0f *${userState.machine}* (Paso ${currentIndex + 1}/${machineConfig.steps.length})\n\ud83d\udcb0 Total: $${money(userState.totalPrice)} USD\n\nSelecciona: *${stepTitle}*`,\n        reply_markup: { inline_keyboard }\n      };\n    }\n\n  } else {\n    // terminamos configuraciones -> pedir nombre\n    userState.stage = \"await_customer_name\";\n    isFinished = true;\n\n    response = {\n      text:\n`\u2705 *Cotizaci\u00f3n lista*\nModelo: *${userState.machine}*\nTotal: *$${money(userState.totalPrice)} USD*\n\nEscribe el *NOMBRE del Cliente*:`\n    };\n  }\n\n} else if (userState.stage === \"await_customer_name\") {\n  isFinished = true;\n  response = { text: \"\ud83d\udcdd Ahora escribe el *NOMBRE del cliente*:\" };\n\n} else if (userState.stage === \"await_customer_email\") {\n  isFinished = true;\n  response = { text: \"\ud83d\udcdd Ahora escribe el *correo del cliente*:\" };\n\n} else if (userState.stage === \"done\") {\n  const payload = userState.payloadFinal || {\n    machine: userState.machine,\n    basePrice: toNum(machineConfig.basePrice),\n    totalPrice: toNum(userState.totalPrice),\n    selections: userState.selections,\n    customer: userState.customer\n  };\n\n  const optionLines = formatSelections(payload.selections).join('\\n');\n  const summaryText =\n`\ud83d\udee0\ufe0f *Cotizaci\u00f3n ${userState.machine}*\n*M\u00e1quina:* ${userState.machine}\n*Base:* $${money(payload.basePrice)} USD\n*Opciones:*\n${optionLines}\n*Total:* $${money(payload.totalPrice)} USD\n*Cliente:* ${payload.customer?.name || 'N/A'}\n*Correo:* ${payload.customer?.email || 'N/A'}\n\u2705 Confirmo datos. Procediendo a generar y enviar PDF.`;\n\n  response = { text: summaryText, quotePayload: payload };\n  isFinished = true;\n}\n\n// Persistir estado\nstaticData.cot[chatId] = userState;\n\nreturn [{ json: { chatId, ...response, isFinished, userState } }];\n\n"
      },
      "id": "1a09eccc-bcdd-4d34-93c7-272222c5bf19",
      "name": "L\u00f3gica Cotizador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        368
      ]
    },
    {
      "id": "d50dfe2b-0020-451f-bcaa-39c521abf3bf",
      "name": "Preparar Body FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        368
      ],
      "parameters": {
        "jsCode": "const userState = $json.userState || {}\n\nconst selections = Array.isArray(userState.selections)\n  ? userState.selections.map((sel) => ({\n      paso: sel.step ?? sel.label ?? '',\n      opcion: sel.value ?? sel.option ?? '',\n      precio: Number(sel.price ?? 0),\n    }))\n  : [];\n\nconst fastapiBody = {\n  modelo: userState.machine ?? '',\n  nombre_cliente: userState.customer?.name ?? '',\n  email: userState.customer?.email ?? '',\n  precio_base: Number(userState.basePrice ?? userState.totalPrice ?? 0),\n  precio_cambiado: Number(userState.totalPrice ?? 0),\n  selecciones: selections,\n};\n\nreturn [{ json: { ...$json, ...fastapiBody, fastapiBody } }];\n"
      }
    },
    {
      "id": "b6234b57-369a-47b1-9744-6ea48b0b8736",
      "name": "Llamar FastAPI Cotizaci\u00f3n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        368
      ],
      "parameters": {
        "url": "https://kenisha-wrongful-jetta.ngrok-free.dev/generar-cotizacion",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fastapiBody }}",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "56d1bb71-2451-462c-9a72-a7ff2ecd449a",
      "name": "\u00bfPDF generado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1728,
        368
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success === true }}",
              "value2": true
            },
            {
              "value1": "={{ !!$json.pdf_path }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "abd4800c-4a96-4c8c-9f3f-94ea70159ba0",
      "name": "Send a document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        304
      ],
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $node[\"Preparar Body FastAPI\"].json.chatId }}",
        "binaryData": false,
        "document": "={{ $json.pdf_path }}",
        "additionalFields": {
          "caption": "={{ \"\ud83d\udcc4 Cotizaci\u00f3n generada\\nModelo: \" + $node[\"Preparar Body FastAPI\"].json.fastapiBody.modelo + \"\\nCliente: \" + $node[\"Preparar Body FastAPI\"].json.fastapiBody.nombre_cliente + \"\\nTotal: $\" + $node[\"Preparar Body FastAPI\"].json.fastapiBody.precio_cambiado + \" USD\" }}"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "OPQOt2byzph4aTkf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "id": "fa8c6a0b-1218-4786-bc4c-b1f07c1a247e",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1952,
        432
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toEmail": "={{ $node[\"Preparar Body FastAPI\"].json.fastapiBody.email }}",
        "subject": "={{ \"Cotizaci\u00f3n VC999 - \" + ($node[\"Preparar Body FastAPI\"].json.fastapiBody.modelo || \"\") + \" - \" + ($node[\"Preparar Body FastAPI\"].json.fastapiBody.nombre_cliente || \"Cliente\") }}",
        "message": "={{ `<p>Hola ${$node[\"Preparar Body FastAPI\"].json.fastapiBody.nombre_cliente || \"\"},</p>` + `<p>Adjuntamos tu cotizaci\u00f3n VC999 ${$node[\"Preparar Body FastAPI\"].json.fastapiBody.modelo || \"\"}.</p>` + `<p>Total estimado: $${$node[\"Preparar Body FastAPI\"].json.fastapiBody.precio_cambiado} USD.</p>` + `<p>Tambi\u00e9n la enviamos por Telegram.</p>` }}",
        "additionalFields": {
          "attachments": "={{ [$json.pdf_path] }}"
        }
      }
    },
    {
      "id": "f459a42a-d671-4820-9a08-7da8072059c5",
      "name": "Notificar error PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8335208719:AAHyaYQ2wKfjGEWOf9V1Zrp6KOE7HYWbJrY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ chat_id: $json.chatId, text: \"\u26a0\ufe0f No pudimos generar tu cotizaci\u00f3n en este momento. Por favor intenta nuevamente.\", parse_mode: \"Markdown\" }) }}",
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram": {
      "main": [
        [
          {
            "node": "Verificar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Memoria": {
      "main": [
        [
          {
            "node": "\u00bfCargar BD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfCargar BD?": {
      "main": [
        [
          {
            "node": "Leer DB_Maquinas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Maquinas": {
      "main": [
        [
          {
            "node": "Leer DB_Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer DB_Opciones": {
      "main": [
        [
          {
            "node": "Guardar en Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Memoria": {
      "main": [
        [
          {
            "node": "Router Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Maestro": {
      "main": [
        [
          {
            "node": "Switch Maestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfTermin\u00f3?": {
      "main": [
        [
          {
            "node": "Preparar Body FastAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Maestro": {
      "main": [
        [
          {
            "node": "Enviar Men\u00fa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar men\u00fa din\u00e1mico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "L\u00f3gica Cotizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar men\u00fa din\u00e1mico": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L\u00f3gica Cotizador": {
      "main": [
        [
          {
            "node": "\u00bfTermin\u00f3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Body FastAPI": {
      "main": [
        [
          {
            "node": "Llamar FastAPI Cotizaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar FastAPI Cotizaci\u00f3n": {
      "main": [
        [
          {
            "node": "\u00bfPDF generado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfPDF generado?": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar error PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b79aee0-b34f-4bf9-9c5d-42dc2c966dec",
  "meta": {
    "instanceId": "bab9ea1064b287c9dcda3c539a2814767496f1b71236f97b3b9d9ed32056214c"
  },
  "id": "6QSLQZPIiAIlGpsn",
  "tags": []
}