json3.json
{
  "name": "Cotizador VC999 - Final (json3)",
  "nodes": [
    {
      "parameters": {},
      "id": "2e96f6d3-5b27-47df-9c1e-4a15d1a7162b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        320
      ],
      "notesInFlow": true,
      "notes": "Este nodo se conecta desde 'Llamar FastAPI Cotizaci칩n' en el flujo real."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$binary.data }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2a25fdc5-c6e9-4835-b7f0-bd15f439ada8",
      "name": "쯇DF generado? (json3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "const chatId = $json.chatId;\n\nconst email =\n  $json.quotePayload?.customer?.email ||\n  $json.fastapiBody?.email ||\n  $json.userState?.customer?.email ||\n  '';\n\nconst nombre =\n  $json.quotePayload?.customer?.name ||\n  $json.fastapiBody?.nombre_cliente ||\n  $json.userState?.customer?.name ||\n  '';\n\nconst modelo =\n  $json.quotePayload?.machine ||\n  $json.fastapiBody?.modelo ||\n  $json.userState?.machine ||\n  'N/A';\n\nconst total =\n  $json.quotePayload?.totalPrice ??\n  $json.fastapiBody?.precio_cambiado ??\n  $json.userState?.totalPrice ??\n  '';\n\nconst hasEmail = typeof email === 'string' && email.includes('@');\n\nreturn [{\n  json: {\n    ...$json,\n    chatId,\n    email,\n    nombre,\n    modelo,\n    total,\n    hasEmail,\n  },\n  binary: $binary,\n}];"
      },
      "id": "7dbf53a0-e4a4-4ce0-96b5-09f0b0865940",
      "name": "Preparar Email (json3)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "document": "data",
        "additionalFields": {
          "caption": "={{ `游늯 Cotizaci칩n generada\nModelo: ${$json.modelo}\nCliente: ${$json.nombre || 'N/A'}\nTotal: $${$json.total || 'N/A'} USD` }}"
        },
        "binaryProperty": "data"
      },
      "id": "590f8586-ad7b-47a1-92fd-c77f1e858fb7",
      "name": "Enviar PDF Telegram (json3)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "OPQOt2byzph4aTkf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasEmail }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d5cb2e30-d2f1-4f0c-96a5-8fec8a7a5e2d",
      "name": "쮼mail v치lido? (json3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toEmail": "={{ $json.email }}",
        "subject": "Cotizaci칩n/ficha t칠cnica VC999",
        "message": "={{ `Buen d칤a ${$json.nombre || ''},\n\nLe hago llegar la Cotizaci칩n/ficha t칠cnica de lo solicitado.\n\nQuedo atento a cualquier duda o comentario por whatsapp o correo.` }}",
        "additionalFields": {
          "attachments": "={{ ['data'] }}"
        }
      },
      "id": "5b26f793-9d17-4d8c-9a2b-65ccf0c3e4f9",
      "name": "Enviar Correo Gmail (json3)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1000,
        320
      ],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "OugztwQnYIrrbxrz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot<YOUR_BOT_TOKEN>/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.chatId, text: `丘멆잺 Error al generar tu cotizaci칩n. Detalles: PDF no disponible.` } }}",
        "options": {}
      },
      "id": "2ceff21b-721c-427b-aec2-16be1d82eec5",
      "name": "Notificar error PDF (json3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        760,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot<YOUR_BOT_TOKEN>/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.chatId, text: `丘멆잺 PDF generado, pero falta el correo del cliente. Escribe un correo v치lido para poder enviarlo.` } }}",
        "options": {}
      },
      "id": "c1b5feac-6f44-4c90-ac32-481f0ebc9778",
      "name": "Notificar error correo (json3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1000,
        440
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "쯇DF generado? (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쯇DF generado? (json3)": {
      "main": [
        [
          {
            "node": "Preparar Email (json3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar error PDF (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email (json3)": {
      "main": [
        [
          {
            "node": "Enviar PDF Telegram (json3)",
            "type": "main",
            "index": 0
          },
          {
            "node": "쮼mail v치lido? (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쮼mail v치lido? (json3)": {
      "main": [
        [
          {
            "node": "Enviar Correo Gmail (json3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar error correo (json3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "0e7c3b0c-6097-4b78-8c92-8889e4737005",
  "tags": []
}
